.canvas-top-controls {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    .upper-btn {
        width: 33.33%;
        text-align: center;
        background: #3949AB;
        color: #ffffff;
        height: 50px;
        line-height: 50px;
        border: none;
        &:focus {
            outline: 0;
        }
    }
}